/* Center the login form on the page */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
}
div {
    width: 100%;
}

/* Optional: Add some padding and subtle shadow */
.login-form {
  background-color: #ffffff;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
